body{
    font-family: 'Mukta', sans-serif;
}
h1{
    font-size:50px;
}
.helight-font{
    color:orange;
}
.half-width{
    float:left;
    width:40%;
    padding:2%;
    margin-left:5%;
}
.half-width img{
    width:100%;
}